
// FOOTER
.section-footer {
  margin: 2rem 0 0;
  background: $c-black;
}

footer {
  display: flex;
  justify-content: space-around;
  max-width: 35rem;
  margin: auto;
  padding: 2rem;
  color: $c-white;
}

.social {
  color: $c-white;
  font-size: 2rem;
}
