// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';


// COLORS
$c-darkslategrey: #2c3e50;
$c-heroblue: #2980b9;
$c-white: #fefefe;
$c-black: #000;


// MEASUREMENTS
$m-gutter: 1rem;

.section-title {
  padding: 5rem 0;
  text-align: center;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    flex-shrink: 0;
    flex-basis: 75%;
    margin: 0 $m-gutter;
  }

  &__img {
    flex-basis: 25%;
    // width: 25%;
    flex-shrink: 1;
    margin: 0 $m-gutter;
  }

}





// IMPORTS
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'header';
@import 'hero';
