// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';


// COLORS
$c-darkslategrey: #2c3e50;
$c-heroblue: #2980b9;
$c-white: #fefefe;
$c-black: #000;


// MEASUREMENTS
$m-gutter: 1rem;

// IMPORTS
@import 'box-sizing';
@import 'resets';
@import 'layout';
@import 'header';
@import 'hero';



.section-title {
  padding: 5rem 0;
  text-align: center;
}

.project {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__info {
    margin: 0 $m-gutter;
  }

  &__img {
    height: 12.5rem;
    margin: 0 $m-gutter;
  }

  &-reverse {
    flex-direction: row-reverse;
  }

}
